# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`

In [1]:
# load libraries
import pandas as pd
print('Import Complete')

Import Complete

In [2]:
# url to github csv files
# github |  folder | filename.csv | raw (copy and paste url from address bar after opening raw file)
url_08 = 'https://raw.githubusercontent.com/bentegviz/udacity_intro_to_data_analysis/main/Case%20Study%202/data/processed/data_08_v1.csv'
url_18 = 'https://raw.githubusercontent.com/bentegviz/udacity_intro_to_data_analysis/main/Case%20Study%202/data/processed/data_18_v1.csv'
print('Import CSV Complete')

Import CSV Complete

In [3]:
# load dataframe from url of both datasets
df_08 = pd.read_csv(url_08)
df_18 = pd.read_csv(url_18)

In [4]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [5]:
# view dimensions of dataset
df_18.shape

(2404, 14)

In [6]:
df_08.head()

       model  displ      cyl  ... cmb_mpg greenhouse_gas_score smartway
0  ACURA MDX    3.7  (6 cyl)  ...      17                    4       no
1  ACURA MDX    3.7  (6 cyl)  ...      17                    4       no
2  ACURA RDX    2.3  (4 cyl)  ...      19                    5       no
3  ACURA RDX    2.3  (4 cyl)  ...      19                    5       no
4   ACURA RL    3.5  (6 cyl)  ...      19                    5       no

[5 rows x 14 columns]

## Filter by Certification Region

In [7]:
# filter datasets for rows following California standards
df_08 = df_08.query('cert_region == "CA"')
df_18 = df_18.query('cert_region == "CA"')

In [8]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [9]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [10]:
# drop certification region columns form both datasets
df_08.drop('cert_region', axis=1, inplace=True)
df_18.drop('cert_region', axis=1, inplace=True)

In [11]:
df_08.shape

(1084, 13)

In [12]:
df_18.shape

(1084, 13)

## Drop Rows with Missing Values

In [13]:
# view missing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [14]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
veh_class                0
air_pollution_score      0
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [15]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [16]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [17]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [18]:
# print number of duplicates in 2008 and 2018 datasets
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

23
23

In [19]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [20]:
# print number of duplicates again to confirm dedupe - should both be 0
print(df_08.duplicated().sum())
print(df_18.duplicated().sum())

0
0

In [21]:
# save progress for the next section
#df_08.to_csv('data_08_v2.csv', index=False)
#df_18.to_csv('data_18_v2.csv', index=False)

# New Section