# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [1]:
import pandas as pd

In [2]:
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')
print('Load CSV Complete')

Load CSV Complete

In [3]:
df_08.head()

,model,displ,fuel,cert_region,veh_class,air_pollution_score,smartway
0,ACURA MDX,3.7,Gasoline,CA,SUV,7,no
1,ACURA RDX,2.3,Gasoline,CA,SUV,7,no
2,ACURA RL,3.5,Gasoline,CA,midsize car,7,no
3,ACURA TL,3.2,Gasoline,CA,midsize car,7,yes
4,ACURA TL,3.5,Gasoline,CA,midsize car,7,yes

In [4]:
df_18.head()

,model,displ,fuel,cert_region,veh_class,air_pollution_score,smartway
0,ACURA MDX,3.7,Gasoline,CA,SUV,7,no
1,ACURA RDX,2.3,Gasoline,CA,SUV,7,no
2,ACURA RL,3.5,Gasoline,CA,midsize car,7,no
3,ACURA TL,3.2,Gasoline,CA,midsize car,7,yes
4,ACURA TL,3.5,Gasoline,CA,midsize car,7,yes

In [5]:
df_08.columns

Index(['model', 'displ', 'fuel', 'cert_region', 'veh_class',
       'air_pollution_score', 'smartway'],
      dtype='object')