# Inspecting Data Types
Use the space below to explore `data_08_v2.csv` and `data_18_v2.csv` to answer the quiz questions below regarding datatypes. You should've created these data files in the previous section: *Filter, Drop Nulls, Dedupe*.

In [1]:
import pandas as pd

In [25]:
# dataset url
url_08 = ('https://raw.githubusercontent.com/bentegviz/udacity_intro_to_data_analysis/main/Case%20Study%202/data/processed/all_alpha_08.csv')
url_18 = ('https://raw.githubusercontent.com/bentegviz/udacity_intro_to_data_analysis/main/Case%20Study%202/data/processed/all_alpha_18.csv')

In [26]:
# csv to dataset
df_08 = pd.read_csv(url_08)
df_18 = pd.read_csv(url_18)
print('Load CSV Complete')

Load CSV Complete

In [27]:
df_08.head()

       Model  Displ      Cyl  ... Unadj Cmb MPG Greenhouse Gas Score SmartWay
0  ACURA MDX    3.7  (6 cyl)  ...       22.0527                    4       no
1  ACURA MDX    3.7  (6 cyl)  ...       22.0527                    4       no
2  ACURA RDX    2.3  (4 cyl)  ...       24.1745                    5       no
3  ACURA RDX    2.3  (4 cyl)  ...       24.1745                    5       no
4   ACURA RL    3.5  (6 cyl)  ...       24.5629                    5       no

[5 rows x 18 columns]

In [28]:
df_18.head()

       Model  Displ  Cyl  ... Greenhouse Gas Score SmartWay Comb CO2
0  ACURA RDX    3.5  6.0  ...                    5       No      386
1  ACURA RDX    3.5  6.0  ...                    5       No      386
2  ACURA RDX    3.5  6.0  ...                    4       No      402
3  ACURA RDX    3.5  6.0  ...                    4       No      402
4  ACURA TLX    2.4  4.0  ...                    6       No      330

[5 rows x 18 columns]

In [29]:
df_08.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Sales Area', 'Stnd',
       'Underhood ID', 'Veh Class', 'Air Pollution Score', 'FE Calc Appr',
       'City MPG', 'Hwy MPG', 'Cmb MPG', 'Unadj Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay'],
      dtype='object')

In [30]:
df_18.columns

Index(['Model', 'Displ', 'Cyl', 'Trans', 'Drive', 'Fuel', 'Cert Region',
       'Stnd', 'Stnd Description', 'Underhood ID', 'Veh Class',
       'Air Pollution Score', 'City MPG', 'Hwy MPG', 'Cmb MPG',
       'Greenhouse Gas Score', 'SmartWay', 'Comb CO2'],
      dtype='object')

Datatypes for Cyl

In [32]:
print(df_08['Cyl'].dtypes)

object

In [33]:
print(df_18['Cyl'].dtypes)

float64

Datatypes for Air Pollution Score

In [34]:
print(df_08['Air Pollution Score'].dtypes)
print(df_08['Air Pollution Score'].dtypes)

object
object

MPG Datatypes

In [38]:
df_08.dtypes

Model                    object
Displ                   float64
Cyl                      object
Trans                    object
Drive                    object
Fuel                     object
Sales Area               object
Stnd                     object
Underhood ID             object
Veh Class                object
Air Pollution Score      object
FE Calc Appr             object
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Unadj Cmb MPG           float64
Greenhouse Gas Score     object
SmartWay                 object
dtype: object

In [39]:
df_18.dtypes

Model                    object
Displ                   float64
Cyl                     float64
Trans                    object
Drive                    object
Fuel                     object
Cert Region              object
Stnd                     object
Stnd Description         object
Underhood ID             object
Veh Class                object
Air Pollution Score       int64
City MPG                 object
Hwy MPG                  object
Cmb MPG                  object
Greenhouse Gas Score      int64
SmartWay                 object
Comb CO2                 object
dtype: object

2008 Greehouse Gas Score is String  
2018 Greehouse Gas Score is Int